<div class="title">
    <br>
    <br>
    <h1>GALERÍA DE FOTOS</h1>
    <h5>¡Esto es lo que se vive en nuestros viajes!</h5>
    <br><br>
</div>
<div class="card-columns">
    <div class="card">
      <img src="/assets/images/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
      </div>
    </div>

    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>

    <div class="card">
        <img src="/assets/images/img2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
        </div>
      </div>

    <div class="card">
    <img src="/assets/images/img3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
    </div>
    </div>

    <div class="card">
        <img src="/assets/images/img4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
        </div>
      </div>

    <div class="card">
    <img src="/assets/images/img5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
    </div>
    </div>

    <div class="card">
    <img src="/assets/images/img6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
    </div>
    </div>

    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

    <div class="card">
        <img src="/assets/images/img7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
        </div>
      </div>

    <div class="card">
    <img src="/assets/images/img8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
    </div>
    </div>

    <div class="card">
        <img src="/assets/images/img9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
        </div>
      </div>

      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>

    <div class="card">
    <img src="/assets/images/img10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
    </div>
    </div>
  </div>
